## iterators vs iterables

* iterable: an object with an associated `iter()` method.
* iterable examples : srings, lists, dictionaries, range object, file connections.
* When `iter()` method applied to an iterable, an iterator object is created. This is actually what "for loop" is doing.
* iterator: an object associated wtih a `next()` method that produces the consecutive methods.
* to create an iterator we use `iter()` method and pass in the iterable. Once we define the iterator, we pass it to the `next()` function and this returns the first value. Calling next again on the iterator returns the next value. We can run next() function until there is no left to return and it throws 'StopIteration error'.
* We can iterate at once with "*", called star operator or splat operator. This star operator unpacks all elements of an iterator or an iterable. Be careful, when we do so, we can not do it again until we redefine our iterator.

In [1]:
# create an iterator

word= "Hello!"
it = iter(word)
it

In [2]:
# get the next value of iterator

next(it)

'H'

In [8]:
# get the next value of iterator
# run until get StopIteration Error

next(it)

StopIteration:

In [15]:
# print all values of an iterator

word= "Hello!"
it = iter(word)
print(*it)

H e l l o !

In [16]:
# can't get any return when we run again
# we have to redefine iterator 

print(*it)

In [17]:
# redefine iterator and print all values

it = iter(word)
print(*it)

H e l l o !

### Iterating over dictionaries

to iterate over key, value pairs of a dictionary, we need to unpack them by applying `items()` method to the dictionary.

In [18]:
a_dict = {"a":1,"b":2,"c":3}

for key, value in a_dict.items():
    print(key, value)

a 1
b 2
c 3

### iterating over file connections

In [27]:
file = open("file.txt")
it = iter(file)
print(next(it))

This is first line.

In [28]:
print(next(it))

This is second line.

### enumerate() function

enumerate() function takes any iterable as argument, such as list, and returns a enumerate object which consists of pairs containing the elements of the original iterable and their index within the iterable. We can use `list()` function on this enumerate object to turn it to a list of tuples.

In [30]:
mutants = ['charles xavier', 'bobby drake', 'kurt wagner', 'max eisenhardt', 'kitty pryde']

e =enumerate(mutants)
print(e)

<enumerate object at 0x0000022E10D7E278>

In [31]:
e_list = list(e)
print(e_list)

[(0, 'charles xavier'), (1, 'bobby drake'), (2, 'kurt wagner'), (3, 'max eisenhardt'), (4, 'kitty pryde')]

* enumerate object is also an iterable and we can loop over it by unpacking its elements using clause "for index, value in enumerate(a_list)"

In [32]:
for index, value in enumerate(mutants):
    print(index, value)

0 charles xavier
1 bobby drake
2 kurt wagner
3 max eisenhardt
4 kitty pryde

* by default the index starts at 0. But we can change it by passing in "start=10"

In [33]:
for index, value in enumerate(mutants, start=10):
    print(index, value)

10 charles xavier
11 bobby drake
12 kurt wagner
13 max eisenhardt
14 kitty pryde

###  iterate over numpay arrays

In [2]:
import numpy as np
array = np.arange(5,35,5).reshape(3,2)
array

array([[ 5, 10],
       [15, 20],
       [25, 30]])

In [3]:
for val in np.nditer(array):
    print(val)

5
10
15
20
25
30

###  iterate over pandas DataFrames

In [9]:
import pandas as pd
brics = pd.read_csv("Data/brics.csv", index_col=0)
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [10]:
for val in brics:
    print(val)

country
capital
area
population

In [20]:
for lab, row in brics.iterrows():
    print(lab)
    print(row)

BR
country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object
RU
country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object
IN
country           India
capital       New Delhi
area              3.286
population         1252
Name: IN, dtype: object
CH
country         China
capital       Beijing
area            9.597
population       1357
Name: CH, dtype: object
SA
country       South Africa
capital           Pretoria
area                 1.221
population           52.98
Name: SA, dtype: object

In [22]:
for lab, row in brics.iterrows():
    print(lab + " : " + row["capital"])

BR : Brasilia
RU : Moscow
IN : New Delhi
CH : Beijing
SA : Pretoria

### creating series on every iteration

In [31]:
for lab, row in brics.iterrows():
    brics.loc[lab, "name_length"] = len(row["country"])
brics

         country    capital    area  population  name_length
BR        Brazil   Brasilia   8.516      200.40            6
RU        Russia     Moscow  17.100      143.50            6
IN         India  New Delhi   3.286     1252.00            5
CH         China    Beijing   9.597     1357.00            5
SA  South Africa   Pretoria   1.221       52.98           12

In [33]:
brics["name_length"] = brics["capital"].apply(len)
brics

         country    capital    area  population  name_length
BR        Brazil   Brasilia   8.516      200.40            8
RU        Russia     Moscow  17.100      143.50            6
IN         India  New Delhi   3.286     1252.00            9
CH         China    Beijing   9.597     1357.00            7
SA  South Africa   Pretoria   1.221       52.98            8

In [42]:
brics["country"] = brics["country"].apply(str.upper)
brics

         country    capital    area  population  name_length
BR        BRAZIL   Brasilia   8.516      200.40            8
RU        RUSSIA     Moscow  17.100      143.50            6
IN         INDIA  New Delhi   3.286     1252.00            9
CH         CHINA    Beijing   9.597     1357.00            7
SA  SOUTH AFRICA   Pretoria   1.221       52.98            8

### generator expressions

In [55]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def gen_func(a_list):
    for n in a_list:
        yield n*n

my_gen = gen_func(nums)
my_gen

In [56]:
# be careful generatore don't store values!!
# it means you can only print ones!!

for i in my_gen:
    print (i, end=" ")

1 4 9 16 25 36 49 64 81 100

In [61]:
# generator expressions
# use () not [] for generators

my_gen = (n*n for n in nums)

for i in my_gen:
    print (i, end=" ")

1 4 9 16 25 36 49 64 81 100

### zip() function

`zip()` function takes any number of iterables and **returns a zip object that is an iterator of tuples**. If you wanted to print the values of a zip object, you can convert it into a list and then print it. Printing just a zip object will not return the values unless you unpack it first.

In [2]:
mutants = ['charles xavier', 'bobby drake', 'kurt wagner', 'max eisenhardt', 'kitty pryde']
aliases = ['prof x', 'iceman', 'nightcrawler', 'magneto', 'shadowcat']
powers = ['telepathy', 'thermokinesis', 'teleportation', 'magnetokinesis', 'intangibility']

# Create a list of tuples: mutant_data
mutant_data = list(zip(mutants, aliases, powers))

# Print the list of tuples
print(mutant_data)

[('charles xavier', 'prof x', 'telepathy'), ('bobby drake', 'iceman', 'thermokinesis'), ('kurt wagner', 'nightcrawler', 'teleportation'), ('max eisenhardt', 'magneto', 'magnetokinesis'), ('kitty pryde', 'shadowcat', 'intangibility')]

In [37]:
# Create a zip object using the three lists: mutant_zip
mutant_zip = zip(mutants, aliases, powers)

# Print the zip object
print(mutant_zip)

<zip object at 0x0000022E103397C8>

In [38]:
# Unpack the zip object and print the tuple values
for value1, value2, value3 in mutant_zip:
    print(value1, value2, value3)

charles xavier prof x telepathy
bobby drake iceman thermokinesis
kurt wagner nightcrawler teleportation
max eisenhardt magneto magnetokinesis
kitty pryde shadowcat intangibility

In [43]:
# Because the previous print() call would have exhausted the elements in mutant_zip,
# recreate the zip object you defined earlier and assign the result again to mutant_zip.
# Splat operator(*) to print all the elements

mutant_zip = zip(mutants, aliases, powers)
print(*mutant_zip)

('charles xavier', 'prof x', 'telepathy') ('bobby drake', 'iceman', 'thermokinesis') ('kurt wagner', 'nightcrawler', 'teleportation') ('max eisenhardt', 'magneto', 'magnetokinesis') ('kitty pryde', 'shadowcat', 'intangibility')

In [56]:
# recreate mutant zip

mutant_zip = zip(mutants, aliases, powers)
mutant_zip

In [57]:
# 'Unzip' the tuples in mutant_zip by unpacking them into positional arguments using the * operator 
# in a zip() call. Assign the results to their original variables in the same order.

mutants, aliases, powers = zip(*mutant_zip)
print(mutants, aliases, powers)

('charles xavier', 'bobby drake', 'kurt wagner', 'max eisenhardt', 'kitty pryde') ('prof x', 'iceman', 'nightcrawler', 'magneto', 'shadowcat') ('telepathy', 'thermokinesis', 'teleportation', 'magnetokinesis', 'intangibility')

In [3]:
# Dictionaries

# Zip lists: zipped_lists
zipped_lists = zip(mutants, aliases)

# Create a dictionary: rs_dict
rs_dict = dict(zipped_lists)

# Print the dictionary
print(rs_dict)

{'charles xavier': 'prof x', 'bobby drake': 'iceman', 'kurt wagner': 'nightcrawler', 'max eisenhardt': 'magneto', 'kitty pryde': 'shadowcat'}

In [4]:
# Pre-defined lists
feature_names = ['CountryName', 'CountryCode',
                 'IndicatorName', 'IndicatorCode', 'Year', 'Value']

row_vals = ['Arab World', 'ARB',
                'Adolescent fertility rate (births per 1,000 women ages 15-19)', 'SP.ADO.TFRT', 
                '1960', '133.56090740552298']

# Define lists2dict()
def lists2dict(list1, list2):
    """Return a dictionary where list1 provides
    the keys and list2 provides the values."""

    # Zip lists: zipped_lists
    zipped_lists = zip(list1, list2)

    # Create a dictionary: rs_dict
    rs_dict = dict(zipped_lists)

    # Return the dictionary
    return rs_dict

# Call lists2dict: rs_fxn
rs_fxn = lists2dict(feature_names, row_vals)

# Print rs_fxn
print(rs_fxn)

{'CountryName': 'Arab World', 'CountryCode': 'ARB', 'IndicatorName': 'Adolescent fertility rate (births per 1,000 women ages 15-19)', 'IndicatorCode': 'SP.ADO.TFRT', 'Year': '1960', 'Value': '133.56090740552298'}

In [7]:
import pandas as pd

feature_names = ['CountryName', 'CountryCode',
                 'IndicatorName', 'IndicatorCode', 'Year', 'Value']

row_lists = [['Arab World',
             'ARB',
             'Adolescent fertility rate (births per 1,000 women ages 15-19)',
             'SP.ADO.TFRT',
             '1960',
             '133.56090740552298'],
            ['Arab World',
             'ARB',
             'Age dependency ratio (% of working-age population)',
             'SP.POP.DPND',
             '1960',
             '87.7976011532547'],
            ['Arab World',
             'ARB',
             'Age dependency ratio, old (% of working-age population)',
             'SP.POP.DPND.OL',
             '1960',
             '6.634579191565161']]

# Print the first two lists in row_lists
print(row_lists[0])
print(row_lists[1])

# Turn list of lists into list of dicts: list_of_dicts
list_of_dicts = [lists2dict(feature_names, sublist) for sublist in row_lists]

# Print the first two dictionaries in list_of_dicts
print(list_of_dicts[0])
print(list_of_dicts[1])

# Turn list of dicts into a DataFrame: df
df = pd.DataFrame(list_of_dicts)

# Print the head of the DataFrame
print(df.head())

['Arab World', 'ARB', 'Adolescent fertility rate (births per 1,000 women ages 15-19)', 'SP.ADO.TFRT', '1960', '133.56090740552298']
['Arab World', 'ARB', 'Age dependency ratio (% of working-age population)', 'SP.POP.DPND', '1960', '87.7976011532547']
{'CountryName': 'Arab World', 'CountryCode': 'ARB', 'IndicatorName': 'Adolescent fertility rate (births per 1,000 women ages 15-19)', 'IndicatorCode': 'SP.ADO.TFRT', 'Year': '1960', 'Value': '133.56090740552298'}
{'CountryName': 'Arab World', 'CountryCode': 'ARB', 'IndicatorName': 'Age dependency ratio (% of working-age population)', 'IndicatorCode': 'SP.POP.DPND', 'Year': '1960', 'Value': '87.7976011532547'}
  CountryName CountryCode                                      IndicatorName  \
0  Arab World         ARB  Adolescent fertility rate (births per 1,000 wo...
1  Arab World         ARB  Age dependency ratio (% of working-age populat...
2  Arab World         ARB  Age dependency ratio, old (% of working-age po...

    IndicatorCode  Year               Value
0     SP.ADO.TFRT  1960  133.56090740552298
1     SP.POP.DPND  1960    87.7976011532547
2  SP.POP.DPND.OL  1960   6.634579191565161

### Iterating over large size of data

Sometimes, the data we have to process reaches a size that is too much for a computer's memory to handle. A solution to this is to process an entire data source chunk by chunk, instead of a single go all at once.

In [60]:
import pandas as pd
country_dict ={}

    # Iterate over the file chunk by chunk
for chunk in pd.read_csv("Data/survey.csv", chunksize=100):
    
    # Iterate over the column in DataFrame
    for entry in chunk["Country"]:
        
        if entry in country_dict.keys():
            country_dict[entry] += 1
        else:
            country_dict[entry] = 1

# Print the populated dictionary
print(country_dict)

{'United Kingdom': 5737, 'Bosnia and Herzegovina': 108, 'Thailand': 214, 'United States': 20949, 'Ukraine': 868, 'Canada': 3395, 'India': 9061, 'New Zealand': 524, 'Antigua and Barbuda': 9, 'Germany': 5866, 'Australia': 1903, 'Russian Federation': 1694, 'Brazil': 1948, 'Lithuania': 248, 'Israel': 952, 'South Africa': 627, 'Colombia': 313, 'Turkey': 949, 'Switzerland': 978, 'Argentina': 553, 'Sri Lanka': 372, 'Czech Republic': 764, 'Denmark': 617, 'Malaysia': 299, 'Bangladesh': 605, 'Spain': 1604, 'Serbia': 402, 'Poland': 1922, 'Sweden': 1274, 'China': 664, 'France': 2391, 'Netherlands': 1852, 'Italy': 1576, 'Philippines': 381, 'Ireland': 501, 'Pakistan': 923, 'Azerbaijan': 49, 'Austria': 839, 'Estonia': 195, 'Croatia': 260, 'South Korea': 160, 'Greece': 556, 'Japan': 391, 'Romania': 760, 'Finland': 546, 'Bulgaria': 659, 'Viet Nam': 231, 'Slovenia': 298, 'Iran': 738, 'Belarus': 202, 'Hungary': 513, 'Latvia': 136, 'Hong Kong (S.A.R.)': 188, 'United Arab Emirates': 158, 'Portugal': 525, 'Nigeria': 522, 'Norway': 574, 'Nicaragua': 30, 'Zimbabwe': 39, 'Egypt': 323, 'Mexico': 642, 'Dominican Republic': 97, 'Guatemala': 67, 'Chile': 206, 'Ecuador': 82, 'Ghana': 84, 'Uganda': 72, 'Cambodia': 30, 'Mauritius': 26, 'Nepal': 237, 'Singapore': 303, 'Sierra Leone': 2, 'Republic of Moldova': 43, 'Belgium': 727, 'Armenia': 86, 'Afghanistan': 44, 'Bahrain': 18, 'Mongolia': 17, 'Georgia': 80, 'Cyprus': 64, 'Kenya': 249, 'Luxembourg': 61, 'Saudi Arabia': 98, 'Cape Verde': 3, 'Peru': 130, 'Burundi': 3, 'Iraq': 39, 'Slovakia': 260, 'Algeria': 134, 'Taiwan': 187, 'Yemen': 19, 'Indonesia': 507, 'Morocco': 155, 'Libyan Arab Jamahiriya': 10, 'Belize': 3, 'Mali': 3, 'Trinidad and Tobago': 19, 'Venezuela, Bolivarian Republic of...': 88, 'Panama': 33, 'Lebanon': 120, 'Tunisia': 130, 'Kuwait': 20, 'Andorra': 7, "CÃ´te d'Ivoire": 34, 'Syrian Arab Republic': 29, 'El Salvador': 67, 'Cameroon': 51, 'Malta': 65, 'Turkmenistan': 7, 'Brunei Darussalam': 1, 'Other Country (Not Listed Above)': 136, 'Costa Rica': 84, 'Jordan': 65, 'Albania': 86, 'Uzbekistan': 39, 'Sudan': 42, 'Kazakhstan': 64, 'The former Yugoslav Republic of Macedonia': 54, 'Ethiopia': 52, 'Paraguay': 52, 'Myanmar': 52, 'Somalia': 13, 'Guyana': 3, 'Honduras': 27, 'Qatar': 13, 'Jamaica': 28, 'Fiji': 5, 'Haiti': 5, 'Democratic Republic of the Congo': 7, 'Benin': 5, 'Namibia': 5, 'Montenegro': 17, 'Rwanda': 12, 'Tajikistan': 7, 'Uruguay': 111, 'Mauritania': 7, 'Bolivia': 36, 'Gabon': 2, 'Liechtenstein': 3, 'United Republic of Tanzania': 32, 'Kyrgyzstan': 19, "Lao People's Democratic Republic": 3, 'Madagascar': 15, 'Guinea': 3, 'Republic of Korea': 39, 'Cuba': 30, 'Maldives': 13, 'Monaco': 4, 'North Korea': 1, 'Senegal': 21, 'Angola': 5, 'Iceland': 49, 'Togo': 4, 'Swaziland': 8, 'Congo, Republic of the...': 7, 'Zambia': 12, 'Oman': 11, 'Timor-Leste': 1, 'Tonga': 1, 'Djibouti': 2, "Democratic People's Republic of Korea": 3, 'Niger': 1, 'Mozambique': 7, 'Botswana': 5, 'Dominica': 1, 'Papua New Guinea': 1, 'Barbados': 3, 'Seychelles': 2, 'Lesotho': 3, 'Bahamas': 3, 'Burkina Faso': 4, 'Saint Kitts and Nevis': 1, 'Malawi': 2, 'Liberia': 2, 'Bhutan': 2, 'Saint Vincent and the Grenadines': 1, 'San Marino': 2, 'Sao Tome and Principe': 1, 'Chad': 1, nan: 132}

## itertools module

The itertools module is a collection of functions that allows us to work with iterators in an efficient way.

* `count()` function returns an iterator that counts. If we don't pass in any argument it starts at 0 and count out by one each iteration.

In [2]:
import itertools

counter =  itertools.count()

print(next(counter))
print(next(counter))
print(next(counter))
print(next(counter))
print(next(counter))

0
1
2
3
4

In [63]:
# create index for a list

a_list = [100, 200, 300, 400]
a_counter = itertools.count()

data = list(zip(a_counter, a_list))
data

[(0, 100), (1, 200), (2, 300), (3, 400)]

In [64]:
# pass start and step arguments into count() function

counter = itertools.count(start=5, step = -2.5)

print(next(counter))
print(next(counter))
print(next(counter))
print(next(counter))

5
2.5
0.0
-2.5

In [68]:
# use zip() function for lists that have different lengths

a_list = [100, 200, 300, 400]

data = list(zip(range(10), a_list))
print(data)

[(0, 100), (1, 200), (2, 300), (3, 400)]

In [69]:
# use itertools.zip_longest() function for lists that have different lengths

a_list = [100, 200, 300, 400]

data = list(itertools.zip_longest(range(10), a_list))
print(data)

[(0, 100), (1, 200), (2, 300), (3, 400), (4, None), (5, None), (6, None), (7, None), (8, None), (9, None)]

In [73]:
# itertools.cycle() function for infinite iterator 

counter = itertools.cycle([1,2,3])

print(next(counter), end= " ")
print(next(counter), end= " ")
print(next(counter), end= " ")
print(next(counter), end= " ")
print(next(counter), end= " ")
print(next(counter), end= " ")
print(next(counter), end= " ")

1 2 3 1 2 3 1 2

In [74]:
# itertools.cycle() function for infinite iterator 

counter = itertools.cycle(["on", "off"])

print(next(counter), end= " ")
print(next(counter), end= " ")
print(next(counter), end= " ")
print(next(counter), end= " ")
print(next(counter), end= " ")
print(next(counter), end= " ")
print(next(counter), end= " ")

on off on off on off on

In [77]:
# itertools.repeat() function for infinite iterator 

counter = itertools.repeat([1,2,3])

print(next(counter), end= " ")
print(next(counter), end= " ")
print(next(counter), end= " ")

[1, 2, 3] [1, 2, 3] [1, 2, 3]

In [79]:
# itertools.repeat() function for infinite iterator 

counter = itertools.repeat(3, times=2)

print(next(counter))
print(next(counter))
print(next(counter))

3
3

StopIteration:

In [89]:
# itertools.repeat() function for infinite iterator 

counter = itertools.repeat(3)

cubes = map(pow, range(10), counter)
print(list(cubes))    # Since map returns a map object we should return it to a list.
                     # we can use print(*cube), as well.

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

#### itertools.starmap() function

It is similar to map() function but instead of taking arguments from iterables, it takes arguments that are already paired together.

In [3]:
cubes = itertools.starmap(pow, [(0,3), (1,3),(2,3),(3,3)])
print(*cubes)

0 1 8 27

groupby takes any sequence and a function, grouping consecutive elements in the sequence by return
 value of the function.

In [10]:
first_letter = lambda x: x[0]
a_list = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

for letter, names in itertools.groupby(a_list, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

### combinations and permutations


* combinations are all different ways that you can group a certain number of items where the order does not matter.
* permutations are all different ways that you can group a certain number of items where the order does matter.

In [105]:
# combinations

letters = ['a', 'b', 'c', 'd']
numbers = [0, 1, 2, 3]
names = ['Corey', 'Nicole']

result = itertools.combinations(letters, 2)
print(*result)

('a', 'b') ('a', 'c') ('a', 'd') ('b', 'c') ('b', 'd') ('c', 'd')

In [95]:
# permutations

result = itertools.permutations(letters, 2)
print(*result)

('a', 'b') ('a', 'c') ('a', 'd') ('b', 'a') ('b', 'c') ('b', 'd') ('c', 'a') ('c', 'b') ('c', 'd') ('d', 'a') ('d', 'b') ('d', 'c')

In [106]:
# itertools.product() function for Cartesian product of input iterables

result = itertools.product(numbers, repeat=3)
print(*result)

(0, 0, 0) (0, 0, 1) (0, 0, 2) (0, 0, 3) (0, 1, 0) (0, 1, 1) (0, 1, 2) (0, 1, 3) (0, 2, 0) (0, 2, 1) (0, 2, 2) (0, 2, 3) (0, 3, 0) (0, 3, 1) (0, 3, 2) (0, 3, 3) (1, 0, 0) (1, 0, 1) (1, 0, 2) (1, 0, 3) (1, 1, 0) (1, 1, 1) (1, 1, 2) (1, 1, 3) (1, 2, 0) (1, 2, 1) (1, 2, 2) (1, 2, 3) (1, 3, 0) (1, 3, 1) (1, 3, 2) (1, 3, 3) (2, 0, 0) (2, 0, 1) (2, 0, 2) (2, 0, 3) (2, 1, 0) (2, 1, 1) (2, 1, 2) (2, 1, 3) (2, 2, 0) (2, 2, 1) (2, 2, 2) (2, 2, 3) (2, 3, 0) (2, 3, 1) (2, 3, 2) (2, 3, 3) (3, 0, 0) (3, 0, 1) (3, 0, 2) (3, 0, 3) (3, 1, 0) (3, 1, 1) (3, 1, 2) (3, 1, 3) (3, 2, 0) (3, 2, 1) (3, 2, 2) (3, 2, 3) (3, 3, 0) (3, 3, 1) (3, 3, 2) (3, 3, 3)

In [108]:
# itertools.combinations_with_replacement() function for all possible combinations include repeats 

result = itertools.combinations_with_replacement(numbers, r=3)
print(*result)

(0, 0, 0) (0, 0, 1) (0, 0, 2) (0, 0, 3) (0, 1, 1) (0, 1, 2) (0, 1, 3) (0, 2, 2) (0, 2, 3) (0, 3, 3) (1, 1, 1) (1, 1, 2) (1, 1, 3) (1, 2, 2) (1, 2, 3) (1, 3, 3) (2, 2, 2) (2, 2, 3) (2, 3, 3) (3, 3, 3)

In [113]:
# itertools.chain() function for combining iterables 
 
result_1 = letters + numbers + names
print (result_1)

# similar to above, but not a list, an iterator, so holds much less storage 

result_2 = itertools.chain(letters, numbers, names) 
print(next(result_2))
print(*result_2)

['a', 'b', 'c', 'd', 0, 1, 2, 3, 'Corey', 'Nicole']
a
b c d 0 1 2 3 Corey Nicole

In [117]:
# itertools.islice() function for slicing iteartors
# islice(iterable, stop) --> islice object
# islice(iterable, start, stop[, step]) --> islice object

result = itertools.islice(range(10), 5) 
print(*result)

0 1 2 3 4

In [118]:
# itertools.islice() function for slicing iteartors
# islice(iterable, stop) --> islice object
# islice(iterable, start, stop[, step]) --> islice object

result = itertools.islice(range(10), 1, 5) 
print(*result)

1 2 3 4

In [119]:
# itertools.islice() function for slicing iteartors
# islice(iterable, stop) --> islice object
# islice(iterable, start, stop[, step]) --> islice object

result = itertools.islice(range(10), 1, 5, 2) 
print(*result)

1 3

In [123]:
# itertools.islice() function for slicing iterators
# islice(iterable, stop) --> islice object
# islice(iterable, start, stop[, step]) --> islice object

with open("file.txt", "r") as f:
    para = itertools.islice(f, 3)

    print(*para)

This is first line.
 This is second line.
 This is third line.

In [134]:
# itertools.compress() function for returning data elements
# compress(data, selectors) --> iterator over selected data
# corresponding to true selector elements.
# it returns an iterator over selected data

letters = ['a', 'b', 'c', 'd']
selectors = [True, False, True, True]

result = itertools.compress(letters, selectors) 
print(*result)

a c d

In [140]:
# itertools.compress() function vs filter() function

numbers = [0,1,2,3]

def lt_2(n):
    return True if n<2 else False
    
result = filter(lt_2, numbers) 
print(*result)

0 1

In [141]:
# itertools.filterfalse() function vs filter() function
# filterfalse(function or None, sequence) --> filterfalse object
# itertools.filterfalse(): return those items of sequence for which function(item) is false.

numbers = [0,1,2,3]

def lt_2(n):
    return True if n<2 else False
    
result = itertools.filterfalse(lt_2, numbers) 
print(*result)

2 3

In [142]:
# itertools.dropwhile() function 
# dropwhile(predicate, iterable) --> dropwhile object
# Drop items from the iterable while predicate(item) is true.
# Afterwards, return every element until the iterable is exhausted.

numbers = [0,1,2,3, 2, 1, 0, 3,5]

def lt_2(n):
    return True if n<2 else False
    
result = itertools.dropwhile(lt_2, numbers) 
print(*result)

2 3 2 1 0 3 5

In [143]:
# itertools.takewhile() function 
# takewhile(predicate, iterable) --> takewhile object
# Return successive entries from an iterable as long as the 
# predicate evaluates to true for each entry.

numbers = [0,1,2,3, 2, 1, 0, 3,5]

def lt_2(n):
    return True if n<2 else False
    
result = itertools.takewhile(lt_2, numbers) 
print(*result)

0 1

In [146]:
# itertools.accumulate() function 
# accumulate(iterable[, func]) --> accumulate object
# Return series of accumulated sums (or other binary function results).

numbers = [1,2,3, 2, 1, 3,5, 0]

result = itertools.accumulate(numbers) 
print(*result)

1 3 6 8 9 12 17 17

In [147]:
# itertools.accumulate() function 
# accumulate(iterable[, func]) --> accumulate object
# Return series of accumulated sums (or other binary function results).

import operator

numbers = [1,2,3, 2, 1, 3,5, 0]

result = itertools.accumulate(numbers, operator.mul)  # multiplicaiton function
print(*result)

1 2 6 12 12 36 180 0

In [164]:
# itertools.tee() function 
# tee(iterable, n=2) --> tuple of n independent iterators.
# Return copies of an iterator
# don't use the original iterator after tee() function 

numbers = [1,2,3, 2, 1, 3,5, 0]

result = itertools.accumulate(numbers) 
copy1, copy2, copy3 = itertools.tee(result, 3) # 3 is the copy number, default is 2
print(*copy1)
print(*copy2)
print(*copy3)

1 3 6 8 9 12 17 17